@keyframes spinLoading {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(720deg);
    }

    100% {
        transform: rotate(1080deg);
    }
}

.spin-fast-slow {
    animation: spinFastSlow 1.5s ease-out infinite;
}